@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { 
	box-sizing:border-box;	
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

.top_bar{
	min-height:40px; 

	background: #F45C43; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.social { list-style-type:none; margin-bottom:0px; float:left; padding:0px; margin-left:0px;}
.social li { float:left;}
.social li a { padding:0 10px; font-size:13px; line-height:40px; color:#FFF;}

.rightc { list-style-type:none; margin-bottom:0px; float:right;}
.rightc li { margin:0px 10px; font-size:13px; float:left; line-height:40px; color:#FFF;}
.rightc li a {   color:#FFF; }
/* //	top_bar	*/


.navbar {
	font-family:'Inconsolata', monospace;
    border:0;
    border-bottom: 5px solid #59595B;
    margin-bottom: 0px;
	border-radius:0;
}

.navbar-brand { 
	width: 70px;
	height:auto;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img{
	width:100%;
}

.hexagon {
	width: 100px;
	position: absolute;
	z-index: 999;
	background: #ddd;
	border-right:3px solid #59595B;
	border-left:3px solid #59595B;
}
.hexagon:hover{
	background: #ddd !important;
}

.hexagon:after {
    content: "";
    position: absolute;
    left: -2px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top-color: #59595B;
    bottom: -25px;
    border-top-width: 25px;
    border-top-style: solid;
}



.navbar-default .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default .navbar-nav > li > a {
	letter-spacing:0px;
    padding: 20px 10px;
	color:#59595B;
	font-size:1em;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li.active > a, 
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
	border: none;
	border-radius: 0;
    color: #EB3349;
}


.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a > i{
	display:block;
	text-align:center;
	font-size:1.5em;
}




.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { border-bottom: px solid #eee; }

.nav-list > li { 
  padding: 20px 15px 15px;
}

.nav-list > li:last-child { border-right: 0px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-size:1.2em;
  text-transform: uppercase;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 48%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}




/*	Plan	*/

.plan {
    overflow-y: scroll;
    height: 250px;
}

.plan table {
    border-collapse: collapse;
	width: 100%;
}

.plan table, .plan td, .plan th {
    border: 1px solid #949090;
	text-align: center;
}

.plan td, .plan th {
	padding: 10px;
}

.plan th {
    color: #EB3349;
}


/*	Plan	*/


/*	login modal	*/

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}


#img_logo {
    max-height: 100px;
    max-width: 100px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
	padding: 15px 15px 0;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 0px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}
/*	end login modal	*/

.icon-size{    font-size: 87px;		}

/*	search	*/

#search {
		position: fixed;
		top: 10%;
		left: 25%;
		width: 50%;
		height: 70%;
		background-color: rgba(0, 0, 0, 0.7);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: translate(0px, -100%) scale(0, 0);
		-moz-transform: translate(0px, -100%) scale(0, 0);
		-o-transform: translate(0px, -100%) scale(0, 0);
		-ms-transform: translate(0px, -100%) scale(0, 0);
		transform: translate(0px, -100%) scale(0, 0);
		opacity: 0;
		z-index: 999;
		border:5px solid #EB3349;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 80%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px 10%;
    margin-top: -51px;
    outline: none;
	border:5px solid #EB3349;
}
#search .btn {
	background: #c0202f none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 0;
    left: 50%;
	font-weight:600;
    margin-top: 61px;
    position: absolute;
    top: 50%;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color:#EB3349;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.search-icn{
    background: #59595B;
	
    border: 3px solid #EB3349;
	
    border-radius: 50%;
    font-size: 2.2em;
    height: 50px;
    padding: 0 10px;
    text-align: right;
    width: 50px;
	margin: 15px auto 5px;
}

.search-icn a {
    color: #fff;
}
/*	//search	*/


/*	slider	*/~	

.btn-pref .btn {
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
}

.btn-pref .btn .fa{
	font-size:1.9em;
}

.well {
    background-color: #f5f5f5;
	/*    border: 10px solid #EB3349;	*/
	box-shadow:inset 0px 0px 0px 3px #090909, inset 0px 0px 0px 7px #fff, inset 0px 0px 0px 10px #EB3349;
	border-radius: 0;
}
.well.middle{
	margin-top:50px;
	width: 400px;
	min-height: 300px;
	background:#DDDDDD;
}
.well .has-feedback{
	width:49%;
	font-size:1em;
}
.well .has-feedback .form-control{
	font-weight:300;
}

.well .input-group{ width:100%;}

.well .input-group-addon,
.well .inp-field{
	background-color:#fff;
	box-shadow:none;
	border-radius:0;
	border:none;
	font-size:1.2em;
	
}

.rch-btn{
	background-color:#EB3349;
	border:2px solid #A11A27;
	border-radius:0;
	font-size:1.6em;
}

.tab-btn{
	color:#D5414D
}

.well .input-group-addon i{
	width:30px;
	color:#D5414D;
}

.well .inp-field{
	text-transform:upper-alpha;
	border-bottom: 1px solid #EB3349;
}
.left_cont{
	font-size:1.3em;
	margin:0px;
	font-weight:600;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 400px;
    margin-bottom: -50px;
    height: 70px;
	padding: 5px;
	margin-top: 15px;
	background:#DDDDDD;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    margin: 15px;
}





.slider{
	min-height:500px;
	height:100hv;
	background-position:middle;
	background-size:cover;
	padding:100px 0;
	background: #EB3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.slider_middle{
	min-height:400px;
	background:#F8F8F8 transparent;
	border:4px solid #F8F8F8;

}
.color{
	font-weight:600;
	color:#F8F8F8;
}
a {
    color: #18191a;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    padding-top: 15px;
}
tem > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 76px;
    margin-left: 76px;
}

#BannerCarousel{
	color:#fff;
}

#BannerCarousel h3{
	font-weight:700;
}

#BannerCarousel h4{

}

#BannerCarousel p{
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: right;
}

.heading4{	font-size:2em;	font-weight:400;	color:#EB3349;	margin:0px 0px 5px 0px;		}
.para{		font-size:1.2em;	text-align:justify; color:#6E6E6E;	margin:0px 0px 5px 0px;		}
.heading1{font-size:30px;line-height:20px;text-transform:uppercase;color:#1b2834;font-weight:900;}
.content-quality{float:left;width:193px;}
.content-quality p{margin-left:10px;font-size:14px;font-weight:600;line-height:17px;}
.content-quality p span{display:block;}
.home-content-top{
	padding:100px 0;
}
.tabtop li{
	width:20%;
}
.tabtop li a{
	font-weight:700;
	color:#1b2834;
	border-radius:0px;
	border:1px solid #ebebeb !important;
}
.tabtop .active a:before{content:"♦";position:absolute;top:15px;left:82px;color:#EB3349;font-size:30px;}

.tabtop li a:hover{color:#EB3349 !important;text-decoration:none;}
.tabtop .active a:hover{color:#fff !important;}
.tabtop .active a{background-color:#EB3349 !important;color:#FFF !important;}
.margin-tops{margin-top:30px;}
.margin-tops4{	margin-top:20px;	}
.tabsetting{	border-top:5px solid #ebebeb;	padding-top:6px;	width: 100%;	}
.services{background-color:#d4d4d4;min-height:710px;padding:65px 0 27px 0;}
.services a:hover{color:#000;}
.services h1{margin-top:0px !important;}
.heading-container p{text-align:center;font-size:16px !important;text-transform:uppercase;}




.bg_blur
{
    background-image:url('../Images/1.jpg');
    height: 300px;
    background-size: cover;
}


.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}






/* 	footer	*/

.footer1 {
    background: #e6e6e6;
    border-top: 5px solid #ea5644;
    padding: 40px 0 20px;
}



.title-widget {
	color: #898989;
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 15px;
}

.title-widget::before {
	background-color: #ea5644;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: -6px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}

.list-unstyled  ul li a{
	color:#636363;
	font-weight:300;
}


.list-unstyled  ul li a:hover{
	color:#EA3349;
	text-decoration:none;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
	position: relative;
    text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	width:95%;
	padding: 5px;
}



.title-median {
    color: #636363;
    font-size: 13px;
    line-height: 20px;
    margin: 0 0;
    text-transform: uppercase;
	font-weight:600;
}

.footerp p {
	font-family: 'Gudea', sans-serif; 
	margin:0;
}

.footerp p span{
	color:#636363;
	font-size:1.5em;
	font-weight:700;
	display:block;
	line-height: 1;
}
.footerp p .time{
    color: #eb3349;
    font-family: "Gudea",sans-serif;
    font-size: 12px;
    line-height: 1;
}


.social-icons a{
	color:#EB3349;
}

#social:hover {
    			-webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
			}
#social {
		-webkit-transform:scale(0.8);
		-moz-transform:scale(0.8);
		-o-transform:scale(0.8); 
		-webkit-transition-duration: 0.5s; 
		-moz-transition-duration: 0.5s;
		-o-transition-duration: 0.5s;
			}

/*     Only Needed in Multi-Coloured Variation     */

.social-fb:hover {	color: #3B5998;	}

.social-tw:hover {	color: #4099FF;	}

.social-gp:hover {	color: #d34836;	}

.social-em:hover {	color: #f39c12;	}
			
.nomargin { margin:0px; padding:0px;}

.footer-bottom {
    min-height: 30px;
    width: 100%;

	background: #F45C43; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
.design a:hover{
    text-decoration:none;
	color:#ddd;
}

.design img {
    width: 170px;
}


/***	Footer	**/

.padding50{
	padding:100px 0;
}

.col-sm-12.sb_height {
    height: 303px;
}




/* app mobile*/

.section{
	padding: 50px 0;
	background:#FFF;
}
.icon {
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 7px 8px;
	border: 2px solid;
	border-radius: 50%;
	font-size: 3em;
	color:#EB3349;
}
.btn-vk{
	background:#EB3349;
	color:#fff;
}

.btns{}

.red-font{
    color: #EB3349;
}

.content {
    position: relative;
    display: table;
    width: 100%;

}
.pull-middle {
	
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
	border:2px solid #EB3349;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;   
    border-radius: 20px;
}

.phone {
    max-width: 100%;	
}

/* //app mobile*/

@media(max-width:992px){
	.picture{
			display:none;
	}
	
	.navbar-default .navbar-nav > li > a {
			color: #c0202f;
			font-size: 1.2em;
			letter-spacing: 0;
			padding: 30px 7px;
	}

}


@media(max-width:768px){
	#search{
		left: 10%;
		width: 80%;
	}
	
	.navbar-default .navbar-nav > li > a {
		padding: 10px 10px;
		text-align:center;
		border-bottom:1px solid grey;
	}
	.navbar-default .navbar-nav > li:hover > a {
		padding: 10px 10px;
		text-align:center;
		border-bottom:1px solid red;
	}
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
	.tabtop li{
		width:100%;
	}
}
/**	about		**/

.parallax{
	background: url('../Images/about.jpg') no-repeat center top;
	background-size: cover;
	position: fixed;
	background-repeat:no-repeat;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index:-99;
	overflow:hidden;
	height: 450px;
}

#about:before{
	color:#fff;
}
#about{
	color:#fff;
}

.title-pg{
	line-height:1;
}

.title-pg h1{
	font-size:7em;
	line-height: 0;
}



.content{
	background-color:#fff;
	text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.title-pg{
	padding:50px 0;
}





.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #EB3349;
}

.tabs-left > .nav-tabs > li > a {
			margin-right: -1px;
		  	border-radius:0;
			color:#000;
			font-weight:400;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  background:transparent;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
	border-color: #ddd transparent #ddd #ddd;
	border:1px solid;
	border-right-color: #ffffff;
	color:#EB3349
}




.vk-tab h1{ 
	color:#EB3349;
	text-align:left;
}



@media(max-width:640px){
	#search{
		left: 5%;
		width: 90%;
	}
}




/*	colloapse	*/



#policies{
	color:#fff;
}

#policies .title-pg{
	line-height:1;
}

#policies .title-pg h1{
	font-size:5em;
	line-height: 1;
}
#policies .title-pg span{
	line-height:1;
}


.panel-group {
  padding-top: 50px;
}
.panel-default {
  border-radius: 0;
  border: none;
  background: none;
  margin-bottom: 0;
  padding-bottom: 14px;
}
.panel-default > .panel-heading {
  border: none;
  background: none;
  padding: 0;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: none;
  padding: 0 0 0 32px;
}
.panel-default h5 {
  font: 300 19px "Open Sans", Arial, sans-serif;
  padding: 0;
  margin: 0 0 5px;
}
.panel-group .panel+.panel {
  margin-top: 15px;
}
.panel-default .accordion-toggle:before {
  content: "";
  width: 21px;
  height: 21px;
  display: inline-block;
  background: #e54a1a url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.panel-default .collapsed:before {
  background: #495764 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}
.panel-default .panel-title:hover .collapsed:before {
  background-color: #e54a1a;
}
.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
  color: #1ea9e3;
  text-decoration: none;
}
.panel-default .collapsed {
  color: #5f6f7e;
}
.Alert {
color: #DF280A;
clear:both;
font-size: 14px;
font-weight: normal;
margin:20px 0px 0px 0px;
padding:5px;
}





/*	profile		*/

.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-tabs-dropdown:before {
  content: "\e114";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  right: 30px;
}
.nav-tabs-horizontal li:first-child{
	border-left:1px solid #59595B;
}



.nav-tabs-horizontal li{
	border:1px solid #59595B;
	border-left:0;
}

.nav-tabs-horizontal li a{
	border:0; 
	margin:0;
	line-height: 20px;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
	margin:1px;
	color:#59595B;
	font-weight:300;
	font-size:16px;
}
.nav-tabs-horizontal > li > a:hover, 
.nav-tabs-horizontal > li > a:focus, 
.nav-tabs-horizontal > li.active > a, 
.nav-tabs-horizontal > li.active > a:hover,
.nav-tabs-horizontal > li.active > a:focus {
		color:#FFF;
		background-color:#59595B;
		background-color:#949090;
	    border-top-left-radius: 5px;
        border-top-right-radius: 5px;
		border:1px solid #999;
		
}

.nav-tabs-horizontal > li > a:hover{
	background-color: #c7c5c5;
	color:white;
	margin:1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	border:1px solid #999;
}
 



@media screen and (min-width: 769px) {
  #nav-tabs-wrapper {
    display: block!important;
  }
  
}
@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
   .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   }
    .nav-tabs-horizontal  > li {
        float: none;
    }
    .nav-tabs-horizontal  > li + li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    } 
    .nav-tabs-horizontal  > li > a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal  > li.active > a,
    .nav-tabs-horizontal  > li.active > a:hover,
    .nav-tabs-horizontal  > li.active > a:focus {
        color: #ffffff;
        background-color: #428bca;
    }
}


/* profile	*/