@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { 
	box-sizing:border-box;	
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

.top_bar{
	min-height:40px; 

	background: #F45C43; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.social { list-style-type:none; margin-bottom:0px; float:left; padding:0px; margin-left:0px;}
.social li { float:left;}
.social li a { padding:0 10px; font-size:13px; line-height:40px; color:#FFF;}

.rightc { list-style-type:none; margin-bottom:0px; float:right;}
.rightc li { margin:0px 10px; font-size:13px; float:left; line-height:40px; color:#FFF;}
.rightc li a {   color:#FFF; }
/* //	top_bar	*/


.navbar {
	font-family:'Inconsolata', monospace;
    border:0;
    border-bottom: 5px solid #59595B;
    margin-bottom: 0px;
	border-radius:0;
}

.navbar-brand { 
	width: 70px;
	height:auto;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img{
	width:100%;
}

.hexagon {
	width: 100px;
	position: absolute;
	z-index: 999;
	background: #ddd;
	border-right:3px solid #59595B;
	border-left:3px solid #59595B;
}
.hexagon:hover{
	background: #ddd !important;
}

.hexagon:after {
    content: "";
    position: absolute;
    left: -2px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top-color: #59595B;
    bottom: -25px;
    border-top-width: 25px;
    border-top-style: solid;
}



.navbar-default .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default .navbar-nav > li > a {
	letter-spacing:0px;
    padding: 20px 10px;
	color:#59595B;
	font-size:1em;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li.active > a, 
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
	border: none;
	border-radius: 0;
    color: #EB3349;
}


.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a > i{
	display:block;
	text-align:center;
	font-size:1.5em;
}




.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
}

.nav-list { border-bottom: px solid #eee; }

.nav-list > li { 
  padding: 20px 15px 15px;
}

.nav-list > li:last-child { border-right: 0px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-size:1.2em;
  text-transform: uppercase;
}



#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 48%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}




/*	login modal	*/

#login-modal .modal-dialog {
    width: 350px;
}

#login-modal input[type=text], input[type=password] {
	margin-top: 10px;
}


#img_logo {
    max-height: 100px;
    max-width: 100px;
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
	padding: 15px 15px 0;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 0px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0px;
}

.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
  border-radius: 0px;
}
/*	end login modal	*/

.icon-size{    font-size: 87px;		}

/*	search	*/

#search {
		position: fixed;
		top: 10%;
		left: 25%;
		width: 50%;
		height: 70%;
		background-color: rgba(0, 0, 0, 0.7);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		-webkit-transform: translate(0px, -100%) scale(0, 0);
		-moz-transform: translate(0px, -100%) scale(0, 0);
		-o-transform: translate(0px, -100%) scale(0, 0);
		-ms-transform: translate(0px, -100%) scale(0, 0);
		transform: translate(0px, -100%) scale(0, 0);
		opacity: 0;
		z-index: 999;
		border:5px solid #EB3349;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 80%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px 10%;
    margin-top: -51px;
    outline: none;
	border:5px solid #EB3349;
}
#search .btn {
	background: #c0202f none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 0;
    left: 50%;
	font-weight:600;
    margin-top: 61px;
    position: absolute;
    top: 50%;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color:#EB3349;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.search-icn{
    background: #59595B;
	
    border: 3px solid #EB3349;
	
    border-radius: 50%;
    font-size: 2.2em;
    height: 50px;
    padding: 0 10px;
    text-align: right;
    width: 50px;
	margin: 15px auto 5px;
}

.search-icn a {
    color: #fff;
}
/*	//search	*/


/*	slider	*/~	

.btn-pref .btn {
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
}

.btn-pref .btn .fa{
	font-size:1.9em;
}

.well {
    background-color: #f5f5f5;
	/*    border: 10px solid #EB3349;	*/
	box-shadow:inset 0px 0px 0px 3px #090909, inset 0px 0px 0px 7px #fff, inset 0px 0px 0px 10px #EB3349;
	border-radius: 0;
}
.well .has-feedback{
	width:49%;
	font-size:1em;
}
.well .has-feedback .form-control{
	font-weight:300;
}

.well .input-group{ width:100%;}

.well .input-group-addon,
.well .inp-field{
	background-color:#fff;
	box-shadow:none;
	border-radius:0;
	border:none;
	font-size:1.2em;
	
}

.rch-btn{
	background-color:#EB3349;
	border:2px solid #A11A27;
	border-radius:0;
	font-size:1.6em;
}

.tab-btn{
	color:#D5414D
}

.well .input-group-addon i{
	width:30px;
	color:#D5414D;
}

.well .inp-field{
	text-transform:upper-alpha;
	border-bottom: 2px solid #EB3349;
}







.slider{
	min-height:500px;
	height:100hv;
	background-position:middle;
	background-size:cover;
	padding:100px 0;
	background: #EB3349; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EB3349 , #F45C43); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EB3349 , #F45C43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}





.heading4{	font-size:2em;	font-weight:400;	color:#EB3349;	margin:0px 0px 5px 0px;		}
.para{		font-size:1.2em;	text-align:justify; color:#6E6E6E;	margin:0px 0px 5px 0px;		}
.heading1{font-size:30px;line-height:20px;text-transform:uppercase;color:#1b2834;font-weight:900;}
.content-quality{float:left;width:193px;}
.content-quality p{margin-left:10px;font-size:14px;font-weight:600;line-height:17px;}
.content-quality p span{display:block;}
.home-content-top{
	padding:100px 0;
}
.tabtop li{
	width:20%;
}
.tabtop li a{
	font-weight:700;
	color:#1b2834;
	border-radius:0px;
	border:1px solid #ebebeb !important;
}
.tabtop .active a:before{content:"♦";position:absolute;top:15px;left:82px;color:#EB3349;font-size:30px;}

.tabtop li a:hover{color:#EB3349 !important;text-decoration:none;}
.tabtop .active a:hover{color:#fff !important;}
.tabtop .active a{background-color:#EB3349 !important;color:#FFF !important;}
.margin-tops{margin-top:30px;}
.margin-tops4{	margin-top:20px;	}
.tabsetting{	border-top:5px solid #ebebeb;	padding-top:6px;	width: 100%;	}
.services{background-color:#d4d4d4;min-height:710px;padding:65px 0 27px 0;}
.services a:hover{color:#000;}
.services h1{margin-top:0px !important;}
.heading-container p{text-align:center;font-size:16px !important;text-transform:uppercase;}




.bg_blur
{
    background-image:url('../img/1.jpg');
    height: 300px;
    background-size: cover;
}


.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}






/* app mobile*/

.section{
    padding: 50px 0;
}
.icon {
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 7px 8px;
	border: 2px solid;
	border-radius: 50%;
	font-size: 3em;
	color:#EB3349;
}
.btn-vk{
	background:#EB3349;
	color:#fff;
}

.btns{}

.red-font{
    color: #EB3349;
}

.footer {
    color: #887;
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content {
    position: relative;
    display: table;
    width: 100%;
}
.pull-middle {
	
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;   
    border-radius: 20px;
}

.phone {
    max-width: 100%;	
}

/* //app mobile*/

@media(max-width:992px){
	.picture{
			display:none;
	}
	
	.navbar-default .navbar-nav > li > a {
			color: #c0202f;
			font-size: 1.2em;
			letter-spacing: 0;
			padding: 30px 7px;
	}

}


@media(max-width:768px){
	#search{
		left: 10%;
		width: 80%;
	}
	
	.navbar-default .navbar-nav > li > a {
		padding: 10px 10px;
		text-align:center;
		border-bottom:1px solid grey;
	}
	.navbar-default .navbar-nav > li:hover > a {
		padding: 10px 10px;
		text-align:center;
		border-bottom:1px solid red;
	}
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
	.tabtop li{
		width:100%;
	}
}




@media(max-width:640px){
	#search{
		left: 5%;
		width: 90%;
	}
}